<div id="cards-collected-list">
  <% my_collection.each do |c| %>
     <% if c.status == 'collected' %>
     <%= render "user_albums/review_update", c: c %>
     <% end %>
  <% end %>
</div>

<div class="buttons">
  <%= link_to "Browse albums", "/", class: "btn-search" %>
</div>
