// Specific CSS for your home-page
.banner-home {
  h2 {
    font-weight: 300;
  }
}

.top365 {
  margin-top: -95px;
  margin-bottom: 30px;
}


.container-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
