// Specific CSS for your home-page
.banner-home {
  h2 {
    font-weight: 300;
  }
}

.top365 {
  margin-top: -75px;
  margin-bottom: 30px;
}

.iconsindex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
