.h_line {
  width:100%;
  height:1px;
  background: lightgrey;
  margin-bottom: 30px;
  margin-top: -10px;
}
.h_line2 {
  width:100%;
  height:1px;
  background: lightgrey;
  margin-bottom: 30px;
  margin-top: 30px;
}
.content-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  .nav-banner {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  a {
  font-size: 12px;
  }
}
}
.cropped-text-bookings {
  padding-right: 60px;
  padding-left: 20px;
}
.cropped-text-band {
  padding-right: 30px;
  padding-left: 30px;
}
.content {
  padding: 30px;
  margin: 0 auto;
  max-width: 1000px;
  min-height: calc(100vh - 520px);
  align-items: center;
  justify-content: center;
}
.content-all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
}
.content-sessions {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.content-downpage {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.inline_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  a {
    margin-right: 20px;
  }
}
.content-player {
  margin: 0 auto;
  flex: 0 0 50%;
}
.user_remember_me {
  margin-right: 10px;
}
.card-sessions {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 40px 50px 40px 50px;
  padding-top: -10px;
  width: 50%;
}
.content-dashboard {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 50px;
  padding-top: -10px;
  align-items: center;
}
.content-dashboard:hover {
  background-color: white;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}
.card-sessions:hover {
  background-color: white;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}
.downpage-links {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .btn-search {
  background: red;
  border: none;
  border-radius: 25px;
  transition: all 0.5s ease;
  width: 220px;
  height: 50px;
  padding: 10px 50px;
  text-align: center;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
  }
  .btn-search:hover {
    background: red;
    border: none;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
  }
  a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  a:hover, a:focus, a:active {
    color: black;
    }
  }
  .title-red {
    color: red;
  }
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black
}

h1 {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: bolder;
}
h2 {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 24px;
}
h3 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 40px;
}
h4 {
  font-family: "Montserrat";
  font-size: 16px;
}
p {
  font-family: "Montserrat";
  font-size: 14px;
}
.jump-a-line {
  margin-top: 30px;
  margin-bottom: 100px;
}
.jump-a-little {
  margin-bottom: 40px;
}
.text-delete-clients {
  margin-top: 8px;
  font-family: "Montserrat";
  font-size: 12px;
}
.content-searchprofile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  background-color: #f4f4f4;
  .searchprofile {
    margin-top: 15px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    form {
      display: flex;
      flex-direction: row;
      margin-left: 20px;
    }
    #searchbar-profile {
      height: 50px;
      background-color: white;
      padding-left: 15px;
      border-radius: 0px;
      font-family : "Montserrat";
      font-size: 14px;
      min-width: 120px;
      border: 2px solid white;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
      margin-bottom: 20px;
      margin-right: 4px;
    }
  }
}

.title-show-album {
  margin-top: 20px;
}
.artist-name-title {
  a {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: bolder;
  }
}

.wrap-show {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.band-description {
  margin-top: 20px;
  margin-right: 40px;
}
.band-description p {
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  flex: 0 0 50%;
}
.previous-element {
  color: grey;
}
.note {
  color: grey;
  text-transform: italic;
}
.wrapper-grey {
  width: 100%;
  background-color: #f4f4f4;
  margin-top: 20px;
  padding-bottom: 60px;
  padding-top: 20px;
}
