.banner-home {
  color: black;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.banner-home h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-animation: fadeInUp;
  -webkit-animation-duration: 1s;
}
.banner-home h2 {
  font-size: 24px;
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-animation: fadeInUp;
  -webkit-animation-duration: 1s;
}
.banner-content {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#searchbar-band {
  height: 50px !important;
  padding-left: 15px;
  border-radius: 0px;
  font-family : "Montserrat";
  font-size: 14px;
  min-width: 120px;
  border: 2px solid white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin: 2px
}
#band_address {
  height: 50px !important;
  padding-left: 15px;
  border-radius: 0px;
  margin-top: 2px;
  font-family : "Montserrat";
  font-size: 14px;
  border: 2px solid white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  margin: 2px;
}
.searchbar-home {
  margin-top: 40px;
  display: flex;
  align-items: center;
  //flex-wrap: nowrap;
  -webkit-animation: fadeInUp;
  -webkit-animation-duration: 1s;
}
.searchbar-index {
  margin-top: 30px;
  margin-left: 30px;
  form {
  display: flex;
  align-items: center;
  //flex-wrap: nowrap;
  }
}

// #banner-video-bg {
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   min-width: 100%;
//   min-height: 100%;
//   z-index: -10;
// }
