.btn-search {
  background: red;
  border: none;
  border-radius: 25px;
  transition: all 0.5s ease;
  width: 220px;
  height: 50px;
  padding: 10px 50px;
  text-align: center;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  margin-left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
}
.btn-search:hover {
  background: red;
  border: none;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}

.text-delete {
  font-family: "Montserrat";
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}

.buttons {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: space-around;
}

.btn-modal {
    background: transparent;
    color: white;
    width: 220px;
    font-size: 14px;
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    font-family: "Montserrat";
    padding: 10px 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    transition: all 0.5s ease;
}

.btn-modal:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 4px 16px rgba(0,0,0,0.2);
}

.btn-social {
  background: transparent;
  border: solid 2px red;
  border-radius: 25px;
  transition: all 0.5s ease;
  width: 100px;
  height: 30px;
  text-align: center;
  font-weight: bolder;
  color: red;
  text-decoration: none;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.btn-social:hover {
  background: red;
  border: solid 2px red;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.btn-amazon {
  outline: 0;
  color: #111;
  font-size: 13px;
  line-height: 29px;
  height: 42px;
  border: 1px solid;
  font-family: Arial,sans-serif;
  border-radius: 3px;
  width: 100%;
  display: flex;
  padding: 3px 18px 3px 3px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -6px;
  border-color: #be952c #a68226 #9b7924;
  background: -webkit-linear-gradient(top,#fee6b0,#eeba37);
  .fas {
  background-color: #232f3e;
  border-radius: 3px;
  width: 34px;
  height: 34px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  }
}
.btn-amazon:hover {
  background: -webkit-linear-gradient(top,#fede97,#ecb21f);
  text-decoration: none;
}

.margin-amazon {
  margin-right: 5px;
}

.margin-amazon2 {
  margin-right: 3px;
}
