.btn-search {
  background: -webkit-linear-gradient(left, rgba(255,72,56,1) 0%,rgba(193,29,3,1) 100%);
  border: none;
  transition: all 0.5s ease;
  width: 220px;
  height: 53px;
  padding: 12px 40px;
  border-radius: 25px;
  text-align: center;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  margin-left: 8px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
}
.btn-search:hover {
  background: -webkit-linear-gradient(left, rgba(255,135,135,1) 0%,rgba(255,72,56,1) 100%);
  border: none;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}

.text-delete {
  font-family: "Montserrat";
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}
