.btn-yellow {
  background: linear-gradient(135deg, #ef7070 0%, #FF0000 100%);
  border: none;
  width: 220px;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
  transition: all 0.5s ease;
  text-decoration: none;
  box-shadow: 0 2px 6px 0 rgba(255,120,180,0.4);
}
.btn-yellow:hover {
  background: linear-gradient(135deg, #FF0000 0%, #B22222 100%);
  border: none;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(255,120,180,0.4);
}
.btn-delete {
  background: linear-gradient(135deg, #ef7070 0%, #FF0000 100%);
  border: none;
  width: 100%;
  transition: all 0.5s ease;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-top: 15px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 2px 6px 0 rgba(255,120,180,0.4);
}
.btn-delete:hover {
  background: linear-gradient(135deg, #FF0000 0%, #B22222 100%);
  border: none;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(255,120,180,0.4);
}
.edit-delete-button {
  background: linear-gradient(135deg, #21c7d0 0%, #2dde98 100%);
  border: none;
  width: 220px;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin-top: 30px;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 2px 6px 0 rgba(45,222,152,0.4);
}
.edit-delete-button:hover {
  background: linear-gradient(135deg, #1a9da4 0%, #2dde98 100%);
  border: none;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(45,222,152,0.6);
}
.goback {
  margin-top: 70px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: space-around;
  .btn-yellow {
    margin: 10px;
  }
}

.submit {
  background: linear-gradient(135deg, #21c7d0 0%, #2dde98 100%);
  border: none;
  width: 100%;
  font-color: white;
  padding: 12px 20px;
  border-radius: 25px;
  transition: all 0.5s ease;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
  color: white;
  box-shadow: 0 2px 6px 0 rgba(45,222,152,0.5);
}

.submit:hover {
  background: linear-gradient(135deg, #1a9da4 0%, #2dde98 100%);
  border: none;
  font-weight: bolder;
  color: white;
  box-shadow: 0 5px 10px 0 rgba(45,222,152,0.4);
}
.btn-search {
  background: linear-gradient(135deg, #21c7d0 0%, #2dde98 100%);
  border: none;
  transition: all 0.5s ease;
  width: 220px;
  height: 53px;
  padding: 12px 40px;
  border-radius: 25px;
  text-align: center;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  margin-left: 8px;
  box-shadow: 0 2px 6px 0 rgba(45,222,152,0.4);
}
.btn-search:hover {
  background: linear-gradient(135deg, #1a9da4 0%, #2dde98 100%);
  border: none;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(45,222,152,0.4);
}
.button-pending {
  width: 100%;
  height: 40px;
  background-color: lightgrey;
  border: none;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 14px;
  padding: 10px;
  font-weight: 500px;
  margin-top: 10px;
  border-radius: 3px;

}
.btn-confirmed {
  width: 100%;
  height: 40px;
  background: linear-gradient(135deg, #21c7d0 0%, #2dde98 100%);
  border: none;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 14px;
  padding: 10px;
  font-weight: 500px;
  margin-top: 10px;
  border-radius: 3px;
}
.btn-declined {
  width: 100%;
  height: 40px;
  background: linear-gradient(135deg, #ef7070 0%, #FF0000 100%);
  border: none;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bolder;
  padding: 10px;
  font-weight: 500px;
  margin-top: 10px;
  border-radius: 3px;

}
.text-delete {
  font-family: "Montserrat";
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}
.btn-accept {
  background: linear-gradient(135deg, #21c7d0 0%, #2dde98 100%);
  border: none;
  width: 100%;
  font-color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  transition: all 0.5s ease;
  margin: 5px;
  font-weight: bolder;
  color: white;
  box-shadow: 0 2px 6px 0 rgba(45,222,152,0.4);
}
.btn-accept:hover {
  background: linear-gradient(135deg, #1a9da4 0%, #2dde98 100%);
  border: none;
  font-weight: bolder;
  color: white;
  box-shadow: 0 5px 10px 0 rgba(45,222,152,0.4);
}
.btn-decline {
  background: linear-gradient(135deg, #ef7070 0%, #FF0000 100%);
  border: none;
  width: 100%;
  font-color: white;
  transition: all 0.5s ease;
  padding: 12px 20px;
  border-radius: 25px;
  text-align: center;
  margin: 13px;
  font-weight: bolder;
  color: white;
  box-shadow: 0 2px 6px 0 rgba(45,222,152,0.4);
}
.btn-decline:hover {
  background: linear-gradient(135deg, #FF0000 0%, #B22222 100%);
  border: none;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(255,120,180,0.4);
}
