@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,100,300,700,500");
.card-content {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.card {
  height: 150px;
  width: 100%;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  color: white;
  position: relative;
  background-color: white;
  transition: all 0.3s ease;
  margin: 10px;
  text-align: center;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeIn;
  -webkit-animation-duration: 1s;
}
.card:hover {
  box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
}
.cards-collected {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.card-collected {
  height: 150px;
  width: 100%;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  position: relative;
  background-color: white;
  transition: all 0.3s ease;
  margin: 10px;
  text-align: center;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeIn;
  -webkit-animation-duration: 1s;
}
.card-collected:hover {
  box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
}

.cards-wishlist {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.card-wishlist {
  height: 150px;
  width: 100%;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  position: relative;
  background-color: white;
  transition: all 0.3s ease;
  margin: 10px;
  text-align: center;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeIn;
  -webkit-animation-duration: 1s;
}
.card-wishlist:hover {
  box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
}



.card h2 {
  font-family: "Montserrat";
  font-size: 16px;
  left: 20px;
  text-transform: capitalize;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.card p {
  font-family: "Montserrat";
  font-size: 13px;
  left: 20px;
  text-transform: capitalize;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.card a {
  text-transform: capitalize;
  color: white;
  text-decoration: none;
}
