@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,100,300,700,500");

.cards-home {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.card-home {
  height: 190px;
  width: 100%;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  position: relative;
  background-color: white;
  transition: all 0.3s ease;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-animation: fadeIn;
  -webkit-animation-duration: 1s;
}
.card-home:hover {
  box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
}
.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-cover {
  display: flex;
}
.card-img {
  width: 170px;
  height: 170px;
  margin-left: 10px;
  display: flex;
  background-size: cover !important;
  .red-rank {
  width: 45px;
  height: 45px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .album-rank {
  color: white;
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
  }
}
.card-descr {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
  flex-grow: 2;
}
.album-name {
  a {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  }
}
.group-name {
  margin-bottom: 10px;
  a {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 300;
  }
}
.year-genre {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 300;
  color: grey;
}

.iconsindex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  top: 0;
  right: 0;
  a {
    text-decoration: none;
  }
  p {
    font-size: 14px;
    color: white;
    margin-right: 12px;
    background-color: red;
    padding: 2px 12px 2px 5px;
    border-radius: 16px;
    }
  .fas {
    margin: 5px;
    text-decoration: none;
  }
}

.iconflex {
  flex-grow: 0;
  width: 225px;
  height: 170px;
  min-width: 225px;
}


.cards-collected {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.card-collected {
  height: 125px;
  width: 100%;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  position: relative;
  background-color: white;
  transition: all 0.3s ease;
  margin: 10px;
  text-align: center;
  background-size: cover !important;
  display: flex;
  flex-direction: row;
  -webkit-animation: fadeIn;
  -webkit-animation-duration: 1s;
  a {
    font-size: 14px;
  }
}
.card-collected:hover {
  box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
}

.collection-album-artist {
  flex: 0 0 50%;
  margin-top: 15px;
  margin-left: 15px;
  text-align: left;
  line-height: 0.8em;
}
.format {
  flex: 0 0 42%;
  margin-top: 15px;
  text-align: left;
  line-height: 0.8em;
}
.delete-review {
  flex: 0 0 7%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  margin-right: 5px;
  #wishlist {
    margin-top: 5px;
    margin-right: 10px;
  }
  img {
    margin-top: 4px;
    margin-right: 20px;
  }
}

.cards-wishlist {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.card-wishlist {
  height: 125px;
  width: 100%;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  position: relative;
  background-color: white;
  transition: all 0.3s ease;
  margin: 10px;
  text-align: center;
  background-size: cover !important;
  display: flex;
  flex-direction: row;
  -webkit-animation: fadeIn;
  -webkit-animation-duration: 1s;
  a {
    font-size: 14px;
  }
}
.card-wishlist:hover {
  box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
}



.card h2 {
  font-family: "Montserrat";
  font-size: 16px;
  left: 20px;
  text-transform: capitalize;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.card p {
  font-family: "Montserrat";
  font-size: 13px;
  left: 20px;
  text-transform: capitalize;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.card a {
  text-transform: capitalize;
  color: white;
  text-decoration: none;
}


