.modal-text {
  display: flex;
  font-family: "Montserrat";
  color: black;
  align-self: center;
  flex-direction: row;
  padding-left: 500px;
}
.modal-footer {
 display: flex;
 justify-content: space-around;
}
