/* Your profile header CSS code here */
.profile-header-wrapper {
  background: #f4f4f4;
}

.profile-header-infos {
    padding: 20px 0;
}

.profile-header-container p {
    margin-bottom: 10px;
    color: black;
    font-size: 28px;
    letter-spacing: -1px;
}

.profile-header-container h4 {
    color: black;
    letter-spacing: -1px;
    margin-top: 20px;
}

/* Your tabs CSS code here */
.tabs {
  background: #f4f4f4;
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: center;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  color: white;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: -3px;
}
.tab {
  background: #adafb2;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white !important;
  color: #FF0000 !important;
}
.tab.active:hover {
  background: white !important;
  color: #FF0000 !important;
}
